<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Articles</title>
        <!--<link rel="stylesheet" href="/static/styles.css">-->
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'home' %}"><img src="{% static 'user.png'%}" alt=""></a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Log Out</button>
                            </form>
                        </li>
                        <li><a href="{% url 'articles:create' %}" class="highlight">Create Article</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>